.Weather {
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 10px;
  color: rgb(135, 135, 135);
  background: url("https://i.pinimg.com/236x/96/c3/72/96c372bbc2a4326cd4e88f34a6c48303.jpg");
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: black;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: black;
}
.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 24px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 26px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
