.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  color: black;
  margin-left: 5px;
}
.WeatherForecast-temperature-max {
  color: black;
  margin-left: 5px;
}
.WeatherForecast-day {
  color: black;
}
